/* Empty. Add your own CSS if you like */

.sm-c-text{
	text-align: center;
	color: gray;
	font-size: 10px;
}
.dont-resize{
	max-height: 100%;
	max-width: 100%;
}
.top-header{
	margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    max-height: 100px;
    max-width: 203px;
}
