<!-- Center content -->
<ion-view title="Settings">
    <ion-header-bar align-title="left" style="background-image:url('img/res/up-btn.png'); background-size: auto 44px" class="bar-clear">
        <img class="title-image title" src="img/freakoupon_white.png" class="title-image">
    </ion-header-bar>
    <div class="bar bar-subheader" style="height:30px">
      <h2 class="title" style="text-align:left !important; background-image: url(img/res/pink_sub_header.jpg); margin: 0px;
  padding-left: 9px;
  margin-top: -1px;
"><button class="button button-clear" style="color:white; padding:4px" ng-click="goBack()">< Settings</button></h2>
    </div>
    <img src="img/res/header-divider.png" class="divider" style="top:85px">
</div>
	  	<ion-pane class="has-header has-subheader" style="top:91px">
      <ion-scroll direction="y" style="height:85vh">
   			<div class="list">
   				<!-- notification settings -->
  				<div class="item item-divider" style="background-color:slategray" >
	    			Account
	  			</div>
	  			<ul class="list">
            <li class="item item-icon-left" ui-sref="account-details">
              <i class="icon  ion-person"></i>
               My Account
            </li>
    				<li class="item item-icon-left">
      			 <i class="icon ion-earth"></i>
               <span>Country</span>
            <span class="item-note">< USA ></span>
            </li>
    				<li class="item item-icon-left">
            <i class="icon"><img src="img/icons/language_icon.png" style="height:32px"></i>
      			 Languages
            <span class="item-note">< English(UK) ></span>
      			</li>
    			</ul>
	  			

	  			<!-- some general settings -->
	  			<div class="item item-divider" id="dividers">
	    			Notifications
	  			</div>
	  			<ul class="list">
    				<li class="item item-toggle">
      			 Deals
             <label class="toggle">
                <input type="checkbox" ng-model="deal">
                <div class="track">
                  <div class="handle"></div>
                </div>
             </label>
            </li>
            <li class="item sub-item" ng-class="{'': deal, 'settingDisabled': !deal}" href="#">
              <i class="icon ion-calendar">      Schedule</i>
              <span class="item-note"> 10:30 PM Daily </span>
            </li>
            <li ng-disabled="deal"class="item sub-item" ng-class="{'': deal, 'settingDisabled': !deal}" href="#">
              <i class="icon">     Favourite list</i>
            </li>
    				</li>
            <li class="item item-toggle">
             Missions / Auctions
             <label class="toggle">
                <input type="checkbox" ng-model="misNotifs">
                <div class="track">
                  <div class="handle"></div>
                </div>
             </label>
            </li>
            <li class="item sub-item" ng-class="{'': misNotifs, 'settingDisabled': !misNotifs}" href="#">
              <i class="icon" style="color:rgb(185,99,96); align-text:center"><img src="img/icons/red-date.png" style="width:19px;">      Schedule</i>
              <span class="item-note"> 10:30 PM Daily </span>
            </li>
  				</ul>
          <div class="item item-divider" id="dividers">
              General
          </div>
          <li class="item item-icon-left">
          <i class="icon ion-wifi"></i>
          Only Wifi
          </li>
          <li class="item item-icon-left">
          <i class="icon ion-ios-email-outline"></i>
          Contact Us
          </li>
          <li class="item item-icon-left">
          <i class="icon"><img src="img/icons/share.png" style="height:32px"></i>
           Share App
          </li>
          <li class="item item-icon-left">
          <i class="icon ion-document-text"></i>
            Privacy and Terms of Use
          </li>
          <li class="item item-icon-left" ui-sref="about">
          <i class="icon ion-edit" ></i>
          About
          </li>
        </div>
        </ion-scroll>
  		</ion-pane>

	  </ion-view>
	</ion-nav-view>

   	<!-- Content -->
  