<ion-view title='Dashboard'>
        <!-- Header bar -->
        <ion-header-bar align-title="left" style="background-image:url('img/res/up-btn.png'); background-size: auto 44px" class="bar-clear">
            <img class="title-image title" src="img/freakoupon_white.png" class="title-image">
            <div class="buttons">
            <button class="button button-clear" ng-click="toggleSearch()">
              <img src="img/buttons/search.png" class="ikon res">
            </button>
            <a class="button button-clear" ui-sref="account-inbox">
              <img src="img/buttons/email.png" class="res ikon">
            </a> 
            <a class="button button-clear" ui-sref="account-settings">
              <img src="img/buttons/settings.png" class="res ikon">
            </a>
            </div>
        </ion-header-bar>

  <!-- content/view -->

  <ion-pane class="has-header has-footer" style="background-image:url('img/background.png'); top:44px; bot:44px;">
  	  <div class="button-bar">
    		<a style="background: url(img/buttons/up-state-btn.png); background-size: auto 30px;" class="button button-small ibold">
          <img style="float:left; margin-left:-16px !important; height:30px" src="img/buttons/left_arrow.png">
            Coupons
          <img style="float:right; height:30px; margin-right:-16px" src="img/buttons/right_arrow.png">
        </a>
    		<a style="background: url(img/buttons/down-state-btn.png); background-size:auto 30px;"class="button button-small ibold"> 
          Win Prizes!
        </a>
  	  </div>	
  	  <div class="button-bar" style="height:30px !important" ng-show="!searchClicked">
        <input type="image" src="img/buttons/wallet_btn.png" class="catImages" ui-sref="account-wallet" style="witdth:33px">
     		<a class="categoriesBg button button-small">
          <img class="catbarImages" src="img/res/tshirt-small-icon.png">
          <img class="catbarImages" src="img/res/movie-small-icon.png">
          <img class="catbarImages" src="img/res/food-small-icon.png">
        </a>
        <input type="image" src="img/buttons/favorites_btn.png" class="catImages" ui-sref="favorites">
  	  </div>		
      <!-- Search bar toggles with searchClicked in controller -->
      <label class="item item-input" ng-show="searchClicked">
        <i class="icon ion-search placeholder-icon" ></i>
        <input type="text" placeholder="Search a category" ng-model="searchText" ng-blur="toggleSearch(); searchText = null">
      </label>
      <img src="img/res/header-divider.png" class="divider">
      <div>
      <ion-slide-box on-slide-changed="slideChanged(index)" show-pager="false">
        <ion-slide>
        <ion-scroll style="height:78vh" direction="y">
         <ion-list>
            <div class="itemContainer" ng-repeat="item in data | filter:filterByCat | filter : searchText ">
                <p style="text-align:center;">{{item.title}} <br> <img class="res couponImage" src={{item.image}}></p>
                <span class="col text-right"><button class="button button-small button-positive" ui-sref="coupon-details">Coupon Details</button><button class="button button-small button-positive" ui-sref="mission-details">Mission Details</button>
                <button class="button button-small button-positive" ui-sref="auction-details">Auction Details</button></span>
                
              </div>
          </ion-list>  
          </ion-scroll>
        </ion-slide>

        <ion-slide>
        <ion-scroll style="height:78vh" direction="y">
         <ion-list>
            <div class="itemContainer" ng-repeat="item in data | filter:filterByCat | filter : searchText ">
                <p style="text-align:center;">{{item.title}} <br> <img class="res couponImage" src={{item.image}}></p>
                <span class="col text-right"><button class="button button-small button-positive" ui-sref="coupon-details">Coupon Details</button></span>
              </div>
          </ion-list>  
          </ion-scroll>
        </ion-slide>
        <ion-slide>
        <ion-scroll style="height:78vh" direction="y">
         <ion-list>
            <div class="itemContainer" ng-repeat="item in data | filter:filterByCat | filter : searchText ">
                <p style="text-align:center;">{{item.title}} <br> <img class="res couponImage" src={{item.image}}></p>
                <span class="col text-right"><button class="button button-small button-positive" ui-sref="coupon-details">Coupon Details</button></span>
              </div>
          </ion-list>  
          </ion-scroll>
        </ion-slide>

      </ion-slide-box>
      </div>
      <div ng-show="!boolTab">

      </div>
  </ion-pane>
    <!-- End of Ion-Content -->
    

    <!-- Footer bar using $scope.flag.first to show arrow accordingly -->    
    <ion-footer-bar class="account_footer">
        <a ng-show ="flag.first">
          <img src="img/res/lower-triangle.png" style="height: 20%;margin-left: 2.5%;margin-top: -0.25em;position: absolute;" > </a>
        <p class="buttons" style="color:white; margin-left:2%; margin-top:6px">
        New  
        
       </p>

       <h1 class="title" style="color:white">
         Popular
         <a ng-show ="flag.second">
          <img src="img/res/lower-triangle.png" style="height: 22%;margin-left: -2.2em;margin-top: 2px;position: absolute;" > </a>
       </h1>
       
       <p class="buttons" style="color:white; margin-right:2%; margin-top:6px">
         Near 
          <br>
          <br>
          <br>
        <a ng-show ="flag.third">
          <img src="img/res/lower-triangle.png"style="height: 52%;margin-left: -1.5em;margin-top: -0.58em;position: absolute;" > </a>
       </p>
     </ion-footer-bar>
</ion-view>