<ion-view view-title="{{item.name}}" class='center'>
  <ion-content class="padding">
	<div class = "row " style="height:30vh;">
		<img ng-src="{{item.imgurl}}" class="top-header itemimg" >
	</div>
	<br>
    <p style="align-text:center" class="card padding">
      {{item.desc}}
    </p>
    
    <button class="button button-block center button-energized right">
  		Buy This!
  		1000 FP
	</button>
	<button class="button button-block center button-icon icon ion-alert-circled">  Report</button>
  </ion-content>
</ion-view>
