<ion-view name="login" title="Login" >  
	  <ion-content class="padding">  
	    <a class="button button-full button-calm freak padding-left" ui-sref="account-dash">
	    	<span class="icon icon-left ion-social-facebook-outline"></span>  Log In with Facebook
	    </a>
	    <a class="button button-full button-calm freak" ui-sref="account-dash">
	    	<span class="icon ion-social-googleplus-outline"></span>  Log In with Google
	    </a>
	    <div class="list">
	      <p class="sm-c-text"><span class="icon ion-minus-round"></span>  or enter your email  <span class="icon ion-minus-round"></span></p>
	      <label class="item item-input">
	        <input type="email" placeholder = "eg. John@gmail.com">
	      </label>
	    </div>
	    <div style="text-align:center;">
	    	<button class="button button-outline button-calm" ui-sref="account-dash">
	      	 Sign Up!
	    	</button>
	    	<br>
	    	<button class="button icon-right ion-chevron-right button-clear button-light" ui-sref="account-dash">
	       			Skip
	    	</button>
	    </div>
	  </ion-content>
</ion-view>