<ion-view name="login" title="Login">
<!-- Content/View -->
<ion-content class="padding padding" style="background-image:url('img/background.png'); padding-top:1em">

	<div class="row" style="height:25vh;">
		<img src="img/logo.png" class="top-header logo">
	</div>
	<p class="sm-c-text">
		Add your email-address so we can <br>
		deliver great deals to your inbox
	</p>
	<div class="list">
		<!-- Facebook login function 'fbLogin' defined in loginControl in controller.js -->
		<input class='row top-header itemimg' type='image' src="img/buttons/fb-button.png" ng-click="fbLogin()">
		<!-- Google login function 'gplusLogin' defined in loginControl in controller.js-->
		<input class='row top-header itemimg' type='image' src='img/buttons/gplus-button.png' ng-click="gplusLogin()">
		<p class="sm-c-text"><span class="icon ion-minus-round"><span class="icon ion-minus-round"><span class="icon ion-minus-round"><span class="icon ion-minus-round"><span class="icon ion-minus-round"><span class="icon ion-minus-round"><span class="icon ion-minus-round"><span class="icon ion-minus-round"><span class="icon ion-minus-round"><span class="icon ion-minus-round"><span class="icon ion-minus-round">
			</span>  or  <span class="icon ion-minus-round"><span class="icon ion-minus-round"><span class="icon ion-minus-round"><span class="icon ion-minus-round"><span class="icon ion-minus-round"><span class="icon ion-minus-round"><span class="icon ion-minus-round"><span class="icon ion-minus-round"><span class="icon ion-minus-round"><span class="icon ion-minus-round"><span class="icon ion-minus-round"></span>
		</p>
		<input type="text" id="login-input-box" placeholder="Enter your email Address">
	</div>
	<div style="text-align:center;">
		<input type="image" src="img/buttons/login_btn_pink.png" style="width:8.5em" ui-sref="account-dash" alt="Login">
		<br>
		<button class="button icon-right ion-chevron-right button-clear" ui-sref="account-dash">
			Skip
		</button>
	</div>
</ion-content>
<!-- End of Content -->
</ion-view>