<ion-view name="login" title="Login" >  
	  <ion-content class="padding center">  
	  	<div class = "row" style="height:30vh;">
	  	
	  		<img src="img/logo.png" class="top-header logo">
	  	</div>
	    <button class="button button-block button-calm center icon icon-left ion-social-facebook-outline" ui-sref="account-dash">
	     Log In with Facebook
	    </button>
	    <button class="button button-block button-calm center icon icon-left ion-social-googleplus-outline" ui-sref="account-dash">
	     Log In with Google
	    </button>
	    <div class="list">
	      <p class="sm-c-text"><span class="icon ion-minus-round"></span>  or enter your email  <span class="icon ion-minus-round"></span></p>
	      <label class="item item-input">
	        <input type="email" placeholder = "eg. John@gmail.com">
	      </label>
	    </div>
	    <div style="text-align:center;">
	    	<button class="button button-outline button-calm" ui-sref="account-dash">
	      	 Sign Up!
	    	</button>
	    	<br>
	    	<button class="button icon-right ion-chevron-right button-clear button-light" ui-sref="account-dash">
	       	Skip
	    	</button>
	    </div>


	  </ion-content>
</ion-view>