<ion-view>
	<ion-header-bar class="bar bar-header bar-light">
  		<img src="img/logo.png" class="dont-resize">
  	</ion-header-bar>

  <ion-content ng-controller="listController">
  	  <div class="button-bar bar-calm">
    		<a class="button">Coupon</a>
    		<a class="button">Prizes</a>
  	  </div>	
  	  <div class="button-bar">
		    <a class="button button-balanced ion-bag"></a>
    		<a class="button ion-wineglass" ng-click="toggleSelected('cat1')" ></a>
    		<a class="button ion-tshirt" ng-click="toggleSelected('cat2')"></a>
    		<a class="button ion-videocamera" ng-click="toggleSelected('cat3')"> </a>
    		<a class="button button-energized ion-star"> </a>
  	  </div>		
  	  <br>
    <ion-list >
    	<ion-item> </ion-item>
    	<div class="row card" ng-repeat="image in imglist | filter:filterByCat">
    			<div class="col">
    			<img ng-src="{{image.url}}"> Image {{selectedCategories}} {{image.category}} {{filterByCat(image)}}</img>
    			</div>
    	</div>
    </ion-list>
  </ion-content>
</ion-view>
