<ion-view>
  <ion-header-bar class="bar bar-header bar-light top-header">
      <img src="img/logo.png" class="dont-resize title title-center">
    </ion-header-bar>  
  <ion-content>  
    <button class="button button-full button-calm freak">
    <span class="icon ion-ios-person"></span>  Log In with Facebook
    </button>
    <div class="list">
      <p class="sm-c-text"><span class="icon ion-minus-round"></span>  or enter your email  <span class="icon ion-minus-round"></span></p>
      <label class="item item-input">
        <input type="email" placeholder = "eg. John@gmail.com">
      </label>
    </div>
    <button class="button button-outline button-calm col" href="#/tab/account">
       Submit!
    </button>
  </ion-content>
</ion-view>
