<style>
.background-img{
 
  background: url("img/pink_sub_header.jpg");
  width: 100%;
  }




.item {
    background-color: #f3f3f3;
}
.item-avatar, .item-avatar .item-content, .item-avatar-left, .item-avatar-left .item-content {
   
    min-height: 72px;
    padding-left: 72px;
    background-color: #f3f3f3;
  
  
}

.scroll{
margin-top:-7px;
 background-color: #f3f3f3;
}
.list{
 background-color: #f3f3f3;
margin-top:-5px;
}
</style>
<ion-view view-title="">
  
  <ion-header-bar align-title="left" class="bar-positive" >
           <img class="title-image title" src="img/freakoupon_white.png" class="title-image">
           <div class="buttons">
          
           <a class="button button-clear" ui-sref="account-inbox">
             <img src="img/buttons/email.png" class="res ikon">
           </a> 
           <a class="button button-clear" ui-sref="account-settings">
             <img src="img/buttons/settings.png" class="res ikon">
           </a>
           </div>
       </ion-header-bar>
       <div class="bar bar-subheader background-img">
      <h2 class="title white"> My Wallet</h2>
  </div> 
<ion-content class ="has-header has-subheader" >
<img src ="img/devider.png" style="width:100% ;height:8px">
<div class="row" >
     <div class ="col col-50">
       <span style="margin-left: 15%;">Name</span>
     </div>
      <div class ="col col-50">
       <span style ="margin-left: 80%;">Expiration</span>  
       </div>
     </div>
   <img src ="img/devider.png" style="width:100% ;height:8px">
 <ion-list>
      
      <ion-item class="item-remove-animate item-avatar item-icon-right" >
       <img src ="">
        <span style ="float :left">Mission #351 Credit</span>
        <span style ="float :right">15 May 15</span>
      
        <i class="icon ion-chevron-right icon-accessory"></i>
        <ion-option-button class="button-assertive" ng-click="">
          Delete
      <i class="ion-trash-a" style="margin-left:15%"></i>
        </ion-option-button>
    <ion-option-button class="button-assertive" ng-click="">
        | Undo
    <i class="ion-arrow-return-left" style="margin-left:15%"></i> 
        </ion-option-button>
      </ion-item>
      <ion-item class="item-remove-animate item-avatar item-icon-right" >
        <img src ="">
       
        <span style ="float :left">Social Activity Credit</span>
        <span style ="float :right">15 May 15</span>
         <i class="icon ion-chevron-right icon-accessory"></i>
        <ion-option-button class="button-assertive" ng-click="">
          Delete
      <i class="ion-trash-a" style="margin-left:15%"></i>
        </ion-option-button>
    <ion-option-button class="button-assertive" ng-click="">
        | Undo
    <i class="ion-arrow-return-left" style="margin-left:15%"></i> 
        </ion-option-button>
      </ion-item>
       <ion-item class="item-remove-animate item-avatar item-icon-right">
       
        <img src ="">
        <span style ="float :left">Social Activity Credit</span>
        <span style ="float :right">15 May 15</span>
         <i class="icon ion-chevron-right icon-accessory"></i>
        <ion-option-button class="button-assertive" ng-click="">
          Delete
      <i class="ion-trash-a" style="margin-left:15%"></i>
        </ion-option-button>
    <ion-option-button class="button-assertive" ng-click="">
        | Undo
    <i class="ion-arrow-return-left" style="margin-left:15%"></i> 
        </ion-option-button>
      </ion-item>
       <ion-item class="item-remove-animate item-avatar item-icon-right">
       
        <img src ="">
        <span style ="float :left">Social Activity Credit</span>
        <span style ="float :right">15 May 15</span>
         <i class="icon ion-chevron-right icon-accessory"></i>
         <ion-option-button class="button-assertive" ng-click="">
          Delete
      <i class="ion-trash-a" style="margin-left:15%"></i>
        </ion-option-button>
    <ion-option-button class="button-assertive" ng-click="">
        | Undo
    <i class="ion-arrow-return-left" style="margin-left:15%"></i> 
        </ion-option-button>
      </ion-item>
       <ion-item class="item-remove-animate item-avatar item-icon-right">
        <img src ="">
       
        <span style ="float :left">Social Activity Credit</span>
        <span style ="float :right">15 May 15</span>
         <i class="icon ion-chevron-right icon-accessory"></i>
         <ion-option-button class="button-assertive" ng-click="">
          Delete
      <i class="ion-trash-a" style="margin-left:15%"></i>
        </ion-option-button>
    <ion-option-button class="button-assertive" ng-click="">
        | Undo
    <i class="ion-arrow-return-left" style="margin-left:15%"></i> 
        </ion-option-button>
      </ion-item> <ion-item class="item-remove-animate item-avatar item-icon-right">
        <img src ="">
       
        <span style ="float :left">Social Activity Credit</span>
        <span style ="float :right">15 May 15</span>
         <i class="icon ion-chevron-right icon-accessory"></i>
         <ion-option-button class="button-assertive" ng-click="">
          Delete
      <i class="ion-trash-a" style="margin-left:15%"></i>
        </ion-option-button>
    <ion-option-button class="button-assertive" ng-click="">
        | Undo
    <i class="ion-arrow-return-left" style="margin-left:15%"></i> 
        </ion-option-button>
      </ion-item>
    </ion-list>
</ion-content>